<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8" />

    <title>@ViewBag.Title Prop-Central SA</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/css/BookingOverLay.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/gijgo.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="~/css/style.css">
 
</head>
<body>

    <div id="_main">

        @Html.Partial("_navbar")
        <main>
            @RenderBody()
        </main>
        <footer class="footer">
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-md-6 col-lg-4 ">
                            <div class="footer_widget">
                                <div class="footer_logo">
                                    <a href="#">
                                        <h2>Logo Hare</h2>
                                    </a>
                                </div>
                                <p>
                                    65 Maud Mfusi, Durban Central <br> Durban 4001 <br>
                                    <a href="#">+2784 252 7283</a> <br>
                                    <a href="#">Info@newhomesolutions.co.za</a>
                                </p>
                                <div class="socail_links">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="ti-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ti-twitter-alt"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-pinterest"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-youtube-play"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-2 col-md-6 col-lg-2">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Company
                                </h3>
                                <ul class="links">
                                    <li><a href="/flsts/Create">Become a Landlord</a></li>
                                    <li><a href="/RoomMates/Index">Find Room Mate</a></li>
                                    <li><a href="/Home/FindFlat"> Find Flat</a></li>
                                    <li><a href="#"> Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-lg-3">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Popular Flat Locations
                                </h3>
                                <ul class="links double_links">
                                    @*@foreach (var item in db.Places.ToList())
                                        {
                                            <li><a href="/home/Places/?name=@item.PlacesId">@item.Name</a></li>
                                        }*@


                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-lg-3">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Instagram
                                </h3>
                                <div class="instagram_feed">
                                    <div class="single_insta">
                                        <a href="#">
                                            <img src="~/img/instagram/1.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single_insta">
                                        <a href="#">
                                            <img src="~/img/instagram/2.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single_insta">
                                        <a href="#">
                                            <img src="~/img/instagram/3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single_insta">
                                        <a href="#">
                                            <img src="~/img/instagram/4.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single_insta">
                                        <a href="#">
                                            <img src="~/img/instagram/5.png" alt="">
                                        </a>
                                    </div>
                                    <div class="single_insta">
                                        <a href="#">
                                            <img src="~/img/instagram/6.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right_text">
                <div class="container">
                    <div class="footer_border"></div>
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="copy_right text-center">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> New Home Solutions <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        <!-- Modal -->
        <div class="modal fade custom_search_pop" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="serch_form">
                        <form action="/Home/FindFlat" method="post">
                            <input type="text" name="Search" id="Search" required placeholder="Search">
                            <button type="submit">search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div id="_overlay">


    </div>
    <!-- JS here -->
    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/ajax-form.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/scrollIt.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/nice-select.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/gijgo.min.js"></script>
    <script src="~/js/slick.min.js"></script>

    <!--contact js-->
    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>


    <script src="~/js/main.js"></script>


    @RenderSection("scripts", required: false)

    <script>
        var currentpage;
        var totalpages;
        var keyword = $("#keyword").val();
        $(document).ready(function () {
            getData(1);
            currentpage = 1;
            console.log("Loaded for the first time");

        });

        function getData(page) {
            currentpage = page;
            console.log("fetch some JSON data");
            $.ajax({
                url: "/Home/Pagination/?page=" + page + "&keyword=" + keyword, success: function (result) {
                    console.log(result);
                    $("#flatlist").html(result.PaginationList);
                    $("#pagination").html(result.navigation);
                }
            }
            );
        }

        //Overlay script
        $("#_book-btn").click(function () {
            var _html_template = $("#_overlay-template").html();
            $("#_overlay").html(_html_template);
            $("#_main").hide(900);
            console.log("Arrived!!");
        }
        );
        $("#_close-overlay-btn").click(function () {
            $("#_main").show(900);
            console.log("Arrived!!");
        }
        );

        $("#img-check").click(function () {
            $(this).toggleClass("check");
            console.log("Radion button checked");
        });

    </script>
    <script>
        $('.form-control').each(function () {
            floatedLabel($(this));
        });

        $('.form-control').on('input', function () {
            console.log("Test the script");
            floatedLabel($(this));
        });

        function floatedLabel(input) {
            var $field = input.closest('.form-group');
            if (input.val()) {
                $field.addClass('input-not-empty');
            } else {
                $field.removeClass('input-not-empty');
            }
        }
    </script>

    <script>

        $(document).ready(function () {
            $('.popup-btn').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });

        });

    </script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }
        });
    </script>

    <script>

        $(document).ready(function () {

            $("#City").change(function () {
                $('#exampleModalfilter').modal('show')

                var City = $(this).val();

                $.ajax({
                    url: "/Home/GetSubcatList/?city=" + City,
                    contentType: "html",
                    success: function (response) {
                        $("#Surbublo").html(response);
                        $('#exampleModalfilter').modal('hide')
                    }

                })

            })

        })
        var Filter = function () {
            var range = $("#amount").val();
            var order = $("#Orderprice").val();
            $.ajax({
                type: "post",
                url: "/Home/Filter/?range=" + range + "&&order=" + order,
                error: function () {
                    alert("error");
                },
                success: function (response) {
                    $('#exampleModalfilter').modal('hide')
                    $("#Result").html(response);


                }
            })
        }
    </script>
    <script src="~/Assert/FlatApplication/js/jquery.steps.js"></script>

    <script src="~/Assert/FlatApplication/js/main.js"></script>

   
    <script>
      

    </script>
</body>
    </html>
