@model Flats.SharedModel.FlatSharedModels.CreateUpdateFlatSharedModel

@{
    ViewBag.Title = "FlatApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


   
    <div class="bradcam_area bradcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>How to become a landlord</h3>
                        <p>Increase your Flat profit by registering your flat whith us</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>
        <header style="margin-bottom:60px; margin-top:30px;">
            <h2 class="text-center" style="font-size:50px;">
                Becoming one of our landLords in 3 simple steps
            </h2>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="destination_info">
                        <h3 class="text-center">Fill in the application form</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="destination_info">
                        <h3 class="text-center">Set up an appointment </h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="destination_info">
                        <h3 class="text-center">Flat review</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="landlord">
        <div class="main-div">
            <div class="panel">
                <h2>LandLord Application form</h2>
                <p>Please enter your flat name , address and Phone number</p>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="hidden" id="Deposit" value="0" />
                <input type="hidden" id="RentingPrice" value="0" />

                <div class="form-group">

                    <input type="text" style="font-size:large" class="form-control" id="Name" placeholder="Flat Name" name="Name">
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">

                    <input type="text" style="font-size:large" class="form-control" id="PhoneNumber" placeholder="Phone Number" name="PhoneNumber">
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">

                    <input type="text" style="font-size:large" class="form-control" id="Email" placeholder="Flat Email" name="Email">
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })


                </div>
                <div class="form-group">

                    <input type="text" style="font-size:large" class="form-control" id="Address" placeholder="Address" name="Address">
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })


                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

            }
        </div>
    </section>
    <style>
        .landlord {
            background-image: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding: 10px;
            margin-top: 30px;
        }

        .form-heading {
            color: #fff;
            font-size: 23px;
        }

        .panel h2 {
            color: #444444;
            font-size: 18px;
            margin: 0 0 8px 0;
        }

        .panel p {
            color: #777777;
            font-size: 14px;
            margin-bottom: 30px;
            line-height: 24px;
        }

        .login-form .form-control {
            background: #f7f7f7 none repeat scroll 0 0;
            border: 1px solid #d4d4d4;
            border-radius: 4px;
            font-size: 14px;
            height: 50px;
            line-height: 50px;
        }

        .main-div {
            background: #ffffff none repeat scroll 0 0;
            background-color: white;
            border-radius: 2px;
            margin: 10px auto 30px;
            max-width: 38%;
            padding: 50px 70px 70px 71px;
        }

        .login-form .form-group {
            margin-bottom: 10px;
        }

        .login-form {
            text-align: center;
        }

        .forgot a {
            color: #777777;
            font-size: 14px;
            text-decoration: underline;
        }

        .login-form .btn.btn-primary {
            background: #f0ad4e none repeat scroll 0 0;
            border-color: #f0ad4e;
            color: #ffffff;
            font-size: 14px;
            width: 100%;
            height: 50px;
            line-height: 50px;
            padding: 0;
        }

        .forgot {
            text-align: left;
            margin-bottom: 30px;
        }

        .botto-text {
            color: #ffffff;
            font-size: 14px;
            margin: auto;
        }

        .login-form .btn.btn-primary.reset {
            background: #ff9900 none repeat scroll 0 0;
        }

        .back {
            text-align: left;
            margin-top: 10px;
        }

            .back a {
                color: #444444;
                font-size: 13px;
                text-decoration: none;
            }
    </style>
    <script>

    var placeSearch, autocomplete;

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search predictions to
        // geographical location types.
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('address'), { types: ['geocode'] });
    }

    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle(
                    { center: geolocation, radius: position.coords.accuracy });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBncwtZ1VegD2rV6O3MpKKL4Wlr3g1EG0&libraries=places&callback=initAutocomplete"
            async defer></script>
