@model Flats.SharedModel.FlatSharedModels.CreateUpdateFlatSharedModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Prop-Central Sa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="~/Assert/FlatApplication/fonts/material-design-iconic-font/css/material-design-iconic-font.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/Assert/FlatApplication/css/style.css">
    <style>
        .fade.in {
            opacity: 1;
        }

        .collapse {
            display: none;
            background-color: antiquewhite;
        }

            .collapse.in {
                display: block;
            }

        .collapsing {
            position: relative;
            height: 0;
            overflow: hidden;
            -webkit-transition: height 0.35s ease;
            transition: height 0.35s ease;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <a href="/Flats/FlatApplication" class="back-btn">Go Back</a>
        <div class="image-holder">

        </div>
        <form action="" id="application_form">
            @Html.AntiForgeryToken()
            <div class="form-row" id="input_rent"  style="display:none;">

            </div>
            <div class="form-row" style="display:none;" id="input_deposit">

            </div>
            <div id="wizard">
                <!-- SECTION 1 -->
                <h4></h4>
                <section>
                    <div class="form-row">
                        <label for="">
                            Flat Name
                        </label>
                        <input type="text" id="FlatName" name="FlatName" class="form-control">
                    </div>
                    <div class="form-row form-group">

                        <div class="form-holder">
                            <label for="">
                                Email *
                            </label>
                            <input type="email" name="Email" class="form-control">
                        </div>
                        <div class="form-holder">
                            <label for="">
                                TelePhone Number *
                            </label>
                            <input type="tel" name="PhoneNumber" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="">
                            Address *
                        </label>
                        <input type="text" class="form-control" placeholder="Street address" style="margin-bottom: 20px">

                    </div>
                    <div class="form-row">
                        <label for="">
                            Amenities *
                        </label>
                        <a href="#" data-target="#collaps_amenities" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collaps_amenities">
                            <input type="text" id="display_amenity" readonly class="form-control" placeholder="Amenities" style="margin-bottom: 20px">
                        </a>
                        <div class="collapse" id="collaps_amenities">
                            <ul>
                                @foreach (var item in Model.ListAmenities)
                                {
                                    <li><input type="checkbox" name="Amenities" value="@item.Id" /> <span>@item.Name</span></li>
                                }
                            </ul>
                        </div>

                    </div>
                    <div class="form-row">
                        <label for="">
                            Room Types *
                        </label>
                        <a href="#" data-target="#collaps_roomtypes" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collaps_roomtypes">
                            <input type="text" readonly class="form-control" placeholder="Room Types" style="margin-bottom: 20px">
                        </a>
                        <div class="collapse" id="collaps_roomtypes">
                            <ul>
                                @foreach (var item in Model.ListRoomTypes)
                                {
                                    <li style="margin:3px;"><input type="checkbox" id="RoomTypes" name="RoomTypes" value="@item.Id" /><strong> @item.Name</strong> -<span>@item.Description</span></li>
                                }
                            </ul>
                        </div>

                    </div>

                    <div class="form-row form-group">

                        <div class="form-holder">
                            <label for="">
                                Rent *
                            </label>
                            <input type="text" name="Rent" class="form-control">
                        </div>
                        <div class="form-holder">
                            <label for="">
                                Deposit *
                            </label>
                            <input type="text" name="Deposit" class="form-control">
                        </div>
                    </div>
                    
                </section>

                <!-- SECTION 2 -->
                <h4></h4>
                <section>
                    <div id="room_template">

                    </div>
                </section>

                <!-- SECTION 3 -->
                <h4></h4>
                <section>
                    <div class="product">
                        <div class="item">
                            <div class="left">
                                <a href="#" class="thumb">

                                </a>
                                <div class="purchase">
                                    <h6>
                                        <a href="#">Low Table/Stool</a>
                                    </h6>
                                    <span>x4</span>
                                </div>
                            </div>
                            <span class="price">$29</span>
                        </div>
                        <div class="item">
                            <div class="left">
                                <a href="#" class="thumb">

                                </a>
                                <div class="purchase">
                                    <h6>
                                        <a href="#">Set of 3 Porcelain</a>
                                    </h6>
                                    <span>x2</span>
                                </div>
                            </div>
                            <span class="price">$124</span>
                        </div>
                    </div>
                    <div class="checkout">
                        <div class="subtotal">
                            <span class="heading">Subtotal</span>
                            <span>$364</span>
                        </div>
                        <p class="shipping">
                            <span class="heading">Shipping</span>
                            there are no shipping methods available. please double check your address, or contact us if you need any help.
                        </p>
                        <div class="total">
                            <span class="heading">Subtotal</span>
                            <span class="total-price">$364</span>
                        </div>
                    </div>
                </section>

            </div>
        </form>
    </div>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <!-- JQUERY STEP -->
    <script src="~/Assert/FlatApplication/js/jquery.steps.js"></script>

    <script src="~/Assert/FlatApplication/js/main.js"></script>

    <script src="~/Assert/FlatApplication/js/collaps.js"></script>
    <script>

        var populateamenities = function (name) {
            var value = $("#display_amenity").val();
            if (value == null) {
                $("#display_amenity").val(name);
            }
            else {
                $("#display_amenity").val("," + name);
            }
        }

    </script>
</body>
</html>